html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: inline-block;
  order: 1;
}

#notCanvas {
  order: 2;
  display: inline-block;
  width: 100%;
}

body {
  display: flex; 
  flex-direction: column;
}

